/* Calendar.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
 background-color: #333;
  overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.navbar-links {
  display: flex;
  justify-content: space-around;
  padding: 14px 20px;
}

.nav-btn {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-btn:hover {
  background-color: #45a049;
}

.workday-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
ul{
  padding: 40px;
}
.workday-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
}

.logout-btn:hover {
    background-color: #c82333;
}
.workday-card h3 {
  margin-top: 0;
  text-align: center;
}

.interval-card {
  background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.interval-cards {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 59%;
  height: 80%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workday-intervals {
  display: flex;
    flex-direction: column;
    /* Acomoda las cards en columna */
    justify-content: center;
    /* Centrado vertical */
    align-items: center;
    /* Centrado horizontal */
    gap: 10px;

    margin-top: 50px;
    /* Espacio entre las cards grises */
  }


button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
