/* General Container */
.elegant-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #a0bda1, #a0bda1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-card-container {
  display: flex; /* Alineación horizontal de logo y formulario */
  justify-content: center;
  align-items: center;
  max-width: 900px; /* Ajusta el tamaño máximo si es necesario */
  width: 100%;
  padding: 20px;
}

.login-card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  animation: fadeIn 0.8s ease-out;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px; /* Espacio entre el formulario y el logo */
}

.LogoImage {
  width: 250px; /* Ajusta el tamaño del logo */
  height: auto;
}

/* Header */
.login-header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 600;
}

/* Formulario de Login con una sola columna */
.auth-formLogin {
  display: grid;
  grid-template-columns: 1fr; /* Solo una columna */
  padding-right: 20px;
  grid-template-areas: 
    "username"
    "password"
    "submit"
    "register";
}

/* Input Group */
.input-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 0.9rem;
}

.input-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #71aa72;
  box-shadow: 0 0 5px #71aa7286;
}

/* Botones de Login y Register */
.login-button,
.register-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.login-button {
  background: #71aa72;
  color: #fff;
}

.login-button:hover {
  background: #557156;
  transform: scale(1.02);
}

.register-button {
  background: #ddd;
  color: #333;
}

.register-button:hover {
  background: #ccc;
  transform: scale(1.02);
}

/* Error Message */
.auth-error {
  color: red;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
