/* Profile.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #a0bda1;
  overflow: hidden;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  padding: 14px 20px;
}

.nav-btn {
  background-color: #687b69;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-btn:hover {
  background-color: #293429;
  color: white;
}

.home-container {
  padding: 20px;
}

.welcome {
  color: black;
  text-align: center;
  margin-right: 20px;
  font-size: 30px;
}

.user-info-container {
  background-color: #a0bda117;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.user-info-container div {
  margin-bottom: 10px;
}

.user-info-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-info-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.schedule-container {
  display: flex;
  margin-top: 10px;
}

button {
  background-color: #a0bda1;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #a0bda1;
}

.cancel-button {
  background-color: #f44336;
}

.cancel-button:hover {
  background-color: #e53935;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
